[submodule "lib/lame"]
	path = lib/lame
	url = git@github.com:polamedev/lame.git
	branch = main
[submodule "lib/lame-stm32-port"]
	path = lib/lame-stm32-port
	url = git@github.com:polamedev/lame-stm32-port.git
	branch = main
